// Colors
// Contextual variations (linked labels get darker on :hover)

.badge-default {
  .label-variant(@label-default-bg);
}

.badge-primary {
  .label-variant(@label-primary-bg);
}

.badge-secondary {
  .label-variant(@label-secondary-bg);
}

.badge-success {
  .label-variant(@label-success-bg);
}

.badge-info {
  .label-variant(@label-info-bg);
}

.badge-warning {
  .label-variant(@label-warning-bg);
}

.badge-danger {
  .label-variant(@label-danger-bg);
}

.badge-header {
  top:8px;
  right: 6px;
  position: absolute;
}