//
// outline buttons
//

.button-outline-variant(@color; @activeTextColor: #fff) {
  color: @color;
  background-color: transparent;
  border-color: @color;

  &:focus,
  &.focus,
  &:hover,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @activeTextColor;
    background-color: @color;
    box-shadow: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      border-color: @color;
    }
  }

  .badge {
    color: @activeTextColor;
    background-color: @color;
  }
}

.btn-outline.btn-default {
  .button-outline-variant(@btn-default-color);
}

.btn-outline.btn-primary {
  .button-outline-variant(@btn-primary-border);
}

.btn-outline.btn-success {
  .button-outline-variant(@btn-success-border);
}

.btn-outline.btn-info {
  .button-outline-variant(@btn-info-border);
}

.btn-outline.btn-warning {
  .button-outline-variant(@btn-warning-border);
}

.btn-outline.btn-danger {
  .button-outline-variant(@btn-danger-border);
}

//
// pill buttons
//

.btn-pill {
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-radius: 1000em;
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}