.navbar {
  border: none;

  .navbar-nav > li {

    &.divider {
      width: 1px;
      height: @navbar-height;
      background-color: fade(@navbar-default-link-color, 40%);
      margin: 0 15px;
    }

    > a {
      text-transform: uppercase;
      font-weight: 600;
    }

    > a.menu-item-ico {
      padding: 9px 10px;
      > img {
        opacity: 0.6;
      }

      &:hover {
        > img {
          opacity: 1;
        }
      }
    }

    &.open > a > img {
      opacity: 1;
    }

    > .btn-group {
      padding: 10px 15px;
      margin-bottom: 0;
    }
  }

  .dropdown-menu {
    margin-top: 0;
    padding-top: 0;
    border: none;
    border-radius: 0;

    > li {

      a {
        padding: 5px 10px;
        line-height: 20px;
      }

      &.active {
        > a, a:hover, a:focus {
          color: white;
        }
      }
    }
  }
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {

  width: 180px;
}

.navbar-app {
  float: left;
  padding: @navbar-padding-vertical @navbar-padding-horizontal;
  font-size: @font-size-large;
  line-height: @line-height-computed;
  height: @navbar-height;
  background-color: @brand-primary;
  color: white;
  margin-right: 20px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: white;
  }

  @media (min-width: @grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: -@navbar-padding-horizontal;
    }
  }
}

.navbar-brand {
  text-transform: uppercase;
  padding-top: 4px;
  line-height: 19px;

  .company-name {
    font-size: 11px;
  }

  .app-name {
    color: @gray-light;
    font-size: 20px;
  }
}

.navbar-inverse .navbar-brand:hover {
  color: @gray;
}

.navbar-inverse .navbar-nav {
  > .open {
    > a, > a:hover, > a:focus {
      color: white;
    }
  }

  > .active {
    > a, > a:hover, > a:focus {
      color: @gray-darker;
    }
  }
}

#tc-left-menu {
  background-color: @gray-light;
  border-right: 1px solid #eee;
}

.navbar .selectpicker.btn-default {
  background: @gray-darker;
  color: @gray;
  border: solid 1px fade(@gray, 50%);
  line-height: 1.3;

  &:hover {
    border-color: 1px solid @brand-primary;
  }
}

// ----------------------- NAV navbar-level2

.navbar-level2 .navbar-nav .dropdown-menu.selectpicker {
  min-width: 200px;
}

// ----------------------- NAV navbar-level3

.navbar-level3 .nav > li > a,
.navbar-level3 .nav > li button {
  margin-top: 4px;
  padding: 4px 15px;
  text-transform: uppercase;
  border-radius: 4px;
  &.dropdown-toggle {
    background: @gray-lighter;
    border: 1px solid @gray;
  }
}

.navbar-level3 .nav > li > a.btn-pill {
  font-size: 10px;
  letter-spacing: 1px;
  min-width: 90px;
  padding: 3px 5px 2px 5px;
  color: @gray-lighter;
  background-color: @gray-dark;
  border: solid 2px @gray-dark;
  border-radius: 50px;
  margin-right: 5px;
  text-transform: uppercase;

  &:hover, &:focus, &.active {
    border: solid 2px @brand-primary;
    box-shadow: none;
    background: @brand-primary;
  }
}

.tc-step-arrow {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  height: 12px;
  margin: 10px 4px 0;
  width: 12px;
  &:before {
    content: "\f054";
  }
}

.navbar-level4 {
  color: #999;
  background: @gray-darker;
  background-image: none;
  margin-bottom: 0;
  font-size: 10px;
  text-transform: uppercase;
  min-height: 40px;
}

.navbar-level4 .copyright {
  padding-top: 10px;
}

.navbar-level4 .nav > li > a {
  color: @gray-light;
  padding: 10px 8px;
  &:hover {
    background: none;
    color: @brand-primary;
  }
}