.panel-title {
  text-transform: uppercase;
}

h5.panel-title {
  font-size: 12px;
}

.panel-heading {
  .btn {
    text-transform: uppercase;
  }
}


// PANEL

.panel-dark {
	.panel-heading {
		border-bottom: 1px solid @gray-light;
	}
}

.panel-heading {
// 	background: @gray-dark;

}


.panel-heading-btn {
  margin-top: -6px;
}

.panel-default {
	border-color: @gray-light;
	
	> .panel-heading {
		background: @gray-lighter;
		
	border-color: @gray-light;
	}
}

.panel-secondary {
	.panel-variant(@panel-secondary-border; @panel-secondary-text; @panel-secondary-heading-bg; @panel-secondary-border);
}
