body {
  background: none;
}

.navbar-style-guide .navbar-brand {
  padding: 15px;
}

.rainbow .close {
  float: none;
  font-size: 13px;
  font-weight: normal;
  text-shadow: none;
  opacity: 1;
}

pre, pre code {
  font-size: 11px;
}

pre.sample-code {
  margin-top: 20px;
  padding: 5px;
}

section {
  margin-bottom: 80px;
}

#content {
  padding-top: 50px;
}

.sample-control-sizing > input {
  margin-bottom: 10px;
}

.sample-dropdowns-basic, .sample-dropdowns-headers, .sample-dropdowns-disabled-menu-items {
  > .dropdown {
    clear: both;

    &:after {
      clear: both;
      content: " ";
      display: table;
    }

    > button {
      float: left;
    }

    > .dropdown-menu {
      display: block;
      position: static;
      clear: left;
    }
  }
}

#button-groups-sizing-example > div > .btn-group {
  margin-bottom: 10px;
}

#pagination-examples {
  .pagination {
    margin-bottom: 0;
  }
}

#list-group-examples {
  .list-group {
    width: 50%;
  }
}

article > h2 {
  margin-bottom: 17px;
}

.content-view {
  padding-left: 250px;
}

.sidebar {
  float: left;
  margin-top: 40px;
  position: fixed;
}