.table {
  > thead {
    > tr {
      > th, td {
        background-color: @table-bg-head;
        text-transform: uppercase;
      }
    }
  }
/**
  > tbody {
    > tr {
      > th, > td {
        vertical-align: middle;
      }
    }
  }*/
}

.table .right-border {
  border-right: 1px solid @table-border-color;
}

/** Deprecated */
.table .text-align-center {
  text-align: center;
}

