@spacer: 20px;

.padding-xs { padding: (@spacer * 0.5) !important; }
.padding-sm { padding: (@spacer * 0.75) !important; }
.padding { padding: (@spacer) !important; }
.padding-lg { padding: (@spacer * 2) !important; }

.padding-none { padding: 0 !important; }
.margin-none { margin: 0 !important; }

.margin-xs { margin: (@spacer * 0.5) !important; }
.margin-sm { margin: (@spacer * 0.75) !important; }
.margin { margin: (@spacer) !important; }
.margin-lg { margin: (@spacer * 2) !important; }

.nowrap {
  white-space: nowrap;
}