@brand-secondary: #435972;
@gray-subtle: #EEEEEE;

@hr-divider-content-color: @gray;
@hr-divider-content-bg: @body-bg;
@hr-divider-before-bg: @gray-subtle;

@table-bg-head: #f8f8f8;

@custom-control-indicator-bg:     @input-bg;
@custom-control-indicator-border: rgba(0,0,0,.15);

@custom-control-indicator-checked-bg:      @brand-primary;
@custom-control-indicator-checked-border:  @brand-primary;
@custom-control-indicator-active-bg:       lighten(@brand-primary, 15%);
@custom-control-indicator-active-border:   lighten(@brand-primary, 15%);
@custom-control-indicator-disabled-bg:     darken(@input-bg, 5%);
@custom-control-indicator-disabled-border: @custom-control-indicator-border;

@btn-secondary-color:   #fff;
@btn-secondary-bg:      @brand-secondary;
@btn-secondary-border:  darken(@btn-secondary-bg, 5%);

@label-secondary-bg:  @brand-secondary;

@panel-secondary-text:        #fff;
@panel-secondary-border:      @brand-secondary;
@panel-secondary-heading-bg:  @brand-secondary;
